In [2]:
import pandas as pd
import numpy as np
print('khai báo thư viện thành công')

khai báo thư viện thành công

In [3]:
#nhập dữ liệu
file = 'C:/Users/Home/Desktop/code gym 2/FoodPrice_in_Turkey.csv'
data = pd.read_csv(file,header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
#số cột
print(data.shape[0])
#số hàng
print(data.shape[1])

7381
8

In [5]:
#xác định tên các cột
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [ ]:
#việt hóa tên các cột
#đổi tên chỉ 1 cột xác định
data.rename(columns = {'place':'địa điểm'}, inplace= True)
#đổi tên chỉ 1 vài cột xác định
data.rename(columns = {'place':'địa điểm','product name':'tên sản phẩm'}, inplace= True)

#đổi tên toàn bộ các cột (yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['địa điểm', 'mã sp', 'tên sp', 'đơn vị','tên đơn vị']
#phải đủ slg tên các cột
data

In [9]:
#thêm cột vào bảng đã có
data['cột mới']= np.nan
# data['cột mới']= 0
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [13]:
#chèn thêm cột chiết khấu vào sau cột giá
data.insert(8,'chiết khấu mới(%)',20)
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,chiết khấu mới(%),chiết khấu(%),cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,0.2,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,0.2,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,0.2,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,0.2,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,0.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,0.2,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,0.2,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,0.2,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,0.2,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,0.2,NaN

In [14]:
#thêm 1 cột trước Gía, giá trị toàn bộ là 50
data.insert(7,'số lượng',50)
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,0.2,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,0.2,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0.2,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,0.2,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,0.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,0.2,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,NaN

In [16]:
#đổi tên 'tên cột mới' thành tổng và có giá trị là giá*số lượng*(100%-chiết khấu)
# gợi ý: data['A'] = B*C(100-D)/100
data.rename(columns = {'cột mới':'Tổng'}, inplace= True)
data ['Tổng'] = data ['Price'] * data ['số lượng'] * (100-data ['chiết khấu mới(%)'])/100
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,0.2,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,0.2,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0.2,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,0.2,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,0.2,220.396
...,...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,0.2,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,2064.284

In [17]:
data.shape[0]

7381

In [21]:
# thêm dòng vào cuối bảng
#sai
# data.loc[data.shape[0]] = ['Sài Gòn','3000', 'Dưa hấu', '5', 'KG', '10','6','2022', '50.000', '0', 'NaN']
#đúng
data.loc[data.shape[0]] = ['Sài Gòn',3000, 'Dưa hấu', 5, 'KG', 10, 10,2022, 50.000,10, 10, np.NaN]
display (data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,0.2,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,0.2,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0.2,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,0.2,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,0.2,220.396
...,...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN

In [27]:
# thêm dòng vào đầu  bảng
#thêm dòng mới vào đầu bảng
data.loc[-1] = ['Hà Nội',3000, 'Dưa hấu', 5, 'KG', 10, 10,2022, 50.000,10, 10, np.NaN]
#update lại index của bảng
data.index = data.index +1
#sắp xếp lại bảng
data = data.sort_index()
display (data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
1,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
2,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0.2,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,0.2,205.348
...,...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,2064.284
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN

In [28]:
#Thêm 1 dòng mới vào sau dòng Hà Nội. Với các giá trị lần lượt là 
# 'Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,np.NaN
#swap giá trị các dòng
data.loc[-1] = data.loc[0]
data.loc[0] = ['Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,10,np.NaN]
#update lại index của bảng

data.index = data.index +1
#sắp xếp lại bảng
data = data.sort_index()
display (data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
1,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,10.0,NaN
2,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0.2,191.460
...,...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN

In [29]:
#cách 2: tạo ra gái trị index trung gian
#chèn thêm dòng ở vị trí bất kì, ví dụ 0.5
data.loc[0.5]= ['Đà Nắng',3002,'Mì quảng',5,'tô',10,9,2022,100.000,20,10,np.NaN]
#sắp xếp lại các hàng theo đúng thứ tự từ nhỏ tới lớn theo số tự nhiên
data = data.sort_index().reset_index(drop=True)
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),chiết khấu(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
1,Đà Nắng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,10.0,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,10.0,NaN
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
4,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0.2,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0.2,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0.2,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0.2,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,10.0,NaN

In [31]:
# xóa cột sử dụng del
data2 = data
display(data2)
#xóa cột 'cột mới' (xóa ngay trên bảng gốc) > nguy hiểm, hạn chế dùng
del data2['chiết khấu(%)']
display(data2)
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
1,Đà Nắng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
4,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN

KeyError: 'chiết khấu(%)'

In [ ]:
# xóa cột sử dụng pop()
data3 = data
print('data3 sau khi tạo')
display(data3)

data4 = data3.pop('chiết khấu mới(%)')
 #kq là cột cần xóa
print('data3 sau khi xóa')   
display(data3)
print('data sau khi xóa')  
display(data)
print('data3 sau khi xóa')

In [ ]:
#xóa cột sử dụng hàm drop()
data4 = data
print('data4')
display(data4)
#xóa cột 'cột mới' (ko xóa trực tiếp trên bảng gốc) > nên dùng
data5 = data4.drop('cột mới', axis = 1, inplace=False) #lấy kq trả về
data5 = data4.drop('cột mới', axis = 1, inplace=True) 
#ko trả vê kq và cột bị xóa trực tiếp trên bản gốc

print('data4 sau khi xóa')
display(data4)
print('data5')
display(data5)
print('data gốc')
display(data)

In [ ]:
#xóa cột 'cột mới' và cột số lượng

In [33]:
# xóa dòng cuối cùng
data6 = data.drop(data.shape[0]-1, axis = 0)
print(data6)
display(data6)

        Place  ProductId              ProductName  UmId UmName  Month  Year  \
0      Hà Nội       3000                  Dưa hấu     5     KG     10    10
1     Đà Nắng       3002                 Mì quảng     5     tô     10     9
2     Đà Nẵng       3002                 Mỳ Quảng     5     Tô     10  2022
3     Sài Gòn       3000                  Dưa hấu     5     KG     10    10
4     Sài Gòn       3000                  Dưa hấu     5     KG     10    10
...       ...        ...                      ...   ...    ...    ...   ...
7379    Izmir        502  Cocoa (powder) - Retail     5     KG      8  2019
7380    Izmir        502  Cocoa (powder) - Retail     5     KG      9  2019
7381    Izmir        502  Cocoa (powder) - Retail     5     KG     10  2019
7382    Izmir        502  Cocoa (powder) - Retail     5     KG     11  2019
7383    Izmir        502  Cocoa (powder) - Retail     5     KG     12  2019

      số lượng     Price  chiết khấu mới(%)      Tổng
0         2022   50.0000                 10       NaN
1         2022  100.0000                 20       NaN
2           20  100.0000                 10       NaN
3         2022   50.0000                 10       NaN
4         2022   50.0000                 10       NaN
...        ...       ...                ...       ...
7379        50   47.9040                 20  1916.160
7380        50   49.1176                 20  1964.704
7381        50   50.8347                 20  2033.388
7382        50   51.7985                 20  2071.940
7383        50   51.6071                 20  2064.284

[7384 rows x 11 columns]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
1,Đà Nắng,3002,Mì quảng,5,tô,10,9,2022,100.0000,20,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
4,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [37]:
# xóa dòng đầu tiên
data7 = data.drop(1, axis = 0)
#xóa đi và ko reset lại index
print(data7)
display(data7)

                 Place  ProductId              ProductName  UmId UmName  \
0               Hà Nội       3000                  Dưa hấu     5     KG
2              Đà Nẵng       3002                 Mỳ Quảng     5     Tô
3              Sài Gòn       3000                  Dưa hấu     5     KG
4              Sài Gòn       3000                  Dưa hấu     5     KG
5     National Average         52            Rice - Retail     5     KG
...                ...        ...                      ...   ...    ...
7380             Izmir        502  Cocoa (powder) - Retail     5     KG
7381             Izmir        502  Cocoa (powder) - Retail     5     KG
7382             Izmir        502  Cocoa (powder) - Retail     5     KG
7383             Izmir        502  Cocoa (powder) - Retail     5     KG
7384           Sài Gòn       3000                  Dưa hấu     5     KG

      Month  Year  số lượng     Price  chiết khấu mới(%)      Tổng
0        10    10      2022   50.0000                 10       NaN
2        10  2022        20  100.0000                 10       NaN
3        10    10      2022   50.0000                 10       NaN
4        10    10      2022   50.0000                 10       NaN
5        11  2013        50    4.7865                 20   191.460
...     ...   ...       ...       ...                ...       ...
7380      9  2019        50   49.1176                 20  1964.704
7381     10  2019        50   50.8347                 20  2033.388
7382     11  2019        50   51.7985                 20  2071.940
7383     12  2019        50   51.6071                 20  2064.284
7384     10    10      2022   50.0000                 10       NaN

[7384 rows x 11 columns]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),Tổng
0,Hà Nội,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
2,Đà Nẵng,3002,Mỳ Quảng,5,Tô,10,2022,20,100.0000,10,NaN
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
4,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
5,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7383,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN

In [40]:
# xóa nhiều dòng 
data8 = data.drop([0,1,2,5,7383], axis = 0)
#xóa đi và ko reset lại index
print(data8)
display(data8)

                 Place  ProductId              ProductName  UmId UmName  \
3              Sài Gòn       3000                  Dưa hấu     5     KG
4              Sài Gòn       3000                  Dưa hấu     5     KG
6     National Average         52            Rice - Retail     5     KG
7     National Average         52            Rice - Retail     5     KG
8     National Average         52            Rice - Retail     5     KG
...                ...        ...                      ...   ...    ...
7379             Izmir        502  Cocoa (powder) - Retail     5     KG
7380             Izmir        502  Cocoa (powder) - Retail     5     KG
7381             Izmir        502  Cocoa (powder) - Retail     5     KG
7382             Izmir        502  Cocoa (powder) - Retail     5     KG
7384           Sài Gòn       3000                  Dưa hấu     5     KG

      Month  Year  số lượng    Price  chiết khấu mới(%)      Tổng
3        10    10      2022  50.0000                 10       NaN
4        10    10      2022  50.0000                 10       NaN
6        12  2013        50   5.1337                 20   205.348
7         1  2014        50   5.5099                 20   220.396
8         2  2014        50   5.8146                 20   232.584
...     ...   ...       ...      ...                ...       ...
7379      8  2019        50  47.9040                 20  1916.160
7380      9  2019        50  49.1176                 20  1964.704
7381     10  2019        50  50.8347                 20  2033.388
7382     11  2019        50  51.7985                 20  2071.940
7384     10    10      2022  50.0000                 10       NaN

[7380 rows x 11 columns]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,số lượng,Price,chiết khấu mới(%),Tổng
3,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
4,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
6,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
7,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
8,National Average,52,Rice - Retail,5,KG,2,2014,50,5.8146,20,232.584
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN